/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

.HeadingContainer {
  display: flex;
}

.Heading {
  font-size: 45px;
  padding-left: 7%;
  padding-top: 4%;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
}

.filterContainer {
  margin-left: 20%;
  display: flex;
  width: 80vw;
}

.techStackContainer {
  display: flex;
  width: 28vw;
  margin-top:4.8%;
}

.filter {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 23px;
  position: relative;
  letter-spacing: 1px;
  margin-top: 9%;
  padding-left: 4%;
  /* background-color: coral; */
}

.options {
  width: 10vw;
  margin-top: 9.6%;
  font-size: 15px;
  margin-left: 1.5%;
  height: 3vh;
}
