/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

.Container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #2f3640;
  padding-bottom: 15px;
}

.logoDiv {
  display: flex;
  margin-top: 18px;
  margin-left: 61px;
}
.logo {
  margin-left: 10px;
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  margin-top: 20px;
  line-height: 44px;
}

.components {
  display: flex;
  /* background-color: #2B3558; */
  margin-left: 0px;
  height: 44px;
  margin-top: 40px;
}

.links {
  /* width: 155px;
  height: 44px; */
  left: 383px;
  top: 62px;
  font-family: Montserrat;
  font-style: normal;
  padding-left: 55px;
  font-weight: bold;
  font-size: 25px;
  line-height: 44px;
  color: black;
}
.active {
  color: whitesmoke;
}

.buttons {
  /* background-color: darkorange; */
  /* margin-left: 101px; */
  margin-top: 40px;
}
.btn {
  padding: 10px 27px 10px 27px;
  background: #7f8fa6;
  border: 2px solid white;
  color: whitesmoke;
  border: 0;
  letter-spacing: 2px;
  font-size: 25px;
  margin-left: 22px;
}

.user {
  /* background-color: aquamarine; */
  display: flex;
  width: 15vw;
}
.Avatar {
  margin-left: -30%;
  margin-top: 12%;
}
.menu {
  margin-top: 15%;
  /* margin-left:6%; */
}
.signed {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #00d2d3;
  font-weight: 800;
}
.usersName {
  font-size: 20px;
  font-weight: 800;
  color: white;
  font-family: "Roboto", sans-serif;
}
