/** @format */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}
.Container {
  width: 85vw;
  /* height: 38vh; */
  /* background-color: coral; */
  display: flex;
  border: 2px solid black;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 7%;
}

.heading {
  font-size: 27px;
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  letter-spacing: 1px;
  /* position: absolute; */
  /* padding-left: 3%; */
  padding-top: 1%;
}

.description {
  margin-top: 2%;
  margin-left: 2%;
  width: 65vw;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

.LeftContainer {
  /* background-color: coral; */
  width: 66vw;
  border-right: 1px solid black;
}

.bottomContainer {
  display: flex;
  margin-bottom: 2%;
}
.btn{
  height:5vh;
  margin-top: 20px;
}
.techStackContainer {
  height: 5vh;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #2d3436;
  margin-left: 10%;
  margin-top: 1.6%;
  border-radius: 20px;
}

.rightContainer {
  /* height: 38vh; */
  display: flex;
  flex-direction: column;
  width: auto;
}

.contact {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  padding-left: 43%;
  align-items: center;
}

.contactInfo {
  padding-top: 25%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  padding-left: 11%;
  letter-spacing: 1px;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
}

.tag {
  margin-top: 1%;
  padding: 5px 10px;
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  background-color: #57606f;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.specials{
  margin-left: 30%;
  margin-top: 2%;
}

.Delete{
  margin-top: 25%;
}
