/** @format */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:ital,wght@1,300&display=swap");

.Container {
  /* background-color: teal; */
  height: 8vh;
  width: 52vw;
  margin-top: 2.5%;
  margin-left: 4%;
}
.Information {
  padding: 15px 20px;
  font-size: 25px;
  font-weight: 600;
  font-family: Open-Sans;
  color:white;
  letter-spacing: 2px;
  background: #3f3d56;
  border-radius: 23px;
}
