/** @format */

.Container {
  margin-top: 2%;
  /* background-color: tomato; */
  margin-left: 9%;
  display: flex;
}

.heading {
  font-family: "Merriweather", serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 1%;
  font-weight: bold;
}